*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    width: 100%;
}

header{
    background-image: url(Site_Imagens/Capa\ Google\ Sites.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

nav{
    text-align: end; 
    font-family: sans-serif;
    color: white;
    font-size: large;
    font-weight: 1000;

    inset-inline: 10px;
    padding: 10px;
    padding-left: 50%;

    position: absolute;
    top: 0;
    right: 0;

}

.nav-link{
    text-decoration: none;
    text-transform: none;
    color: white;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0,0, 0.5);
    padding: 100px;
    border-bottom: solid 20px rgba(225, 121, 10, 1) ;
}


h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 150px;  
    -webkit-text-size-adjust: 100%;
    text-align: center;
}


h2 {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;  
    -webkit-text-size-adjust: 100%;
    font-weight: lighter;
    padding: 50px;
    padding-top: 80px;
}

.descricao{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    align-content: space-around;
    padding-top: 20px;
}

.preco{
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
    align-content: space-around;
    padding: 10px;
}

.container-religiosas{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}


.caneca-img {
    height: 500px;
    width: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid red;
}

.container-motivacionais{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-bichinhos{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-focinhos{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-amizade{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-amor{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-divertidas{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-professores{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-f1{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.religiosas-img-1 {
    background-image: url(Site_Imagens/AmorJesus_Azul.png);
}

.religiosas-img-2 {
    background-image: url(Site_Imagens/AmorJesus_Amarela.png);
}

.religiosas-img-3 {
    background-image: url(Site_Imagens/Caneca_nossa_senhora-removebg.png);
}

.motivacionais-img-1{
    background-image: url(Site_Imagens/SerGirassol.png);
}

.motivacionais-img-2{
    background-image: url(Site_Imagens/CheiroDeCafe1.png);
}

.motivacionais-img-3{
    background-image: url(Site_Imagens/ComoGirassol.png);
}

.bichinhos-img-1{
    background-image: url(Site_Imagens/Lhama.png);
}

.bichinhos-img-2{
    background-image: url(Site_Imagens/MaeDePet.png);
}

.bichinhos-img-3{
    background-image: url(Site_Imagens/PugRosa.png);
    background-size: auto;
}

.focinhos-img-1{
    background-image: url(Site_Imagens/FocinhoGatoLaranja.png);
}

.focinhos-img-2{
    background-image: url(Site_Imagens/FocinhoPreto.png);
    background-size: auto;
}

.focinhos-img-3{
    background-image: url(Site_Imagens/FocinhoPorco.png);
}

.amizade-img-1{
    background-image: url(Site_Imagens/AmigosAmarela.png);
    background-size: auto;
}

.amizade-img-2{
    background-image: url(Site_Imagens/BestFriends1.png);
}

.amizade-img-3{
    background-image: url(Site_Imagens/MelhorAmigoDoMundo.png);
}

.amor-img-1{
    background-image: url(Site_Imagens/TeAmoTanto.png);
}

.amor-img-2{
    background-image: url(Site_Imagens/TaoApaixonados.png);
}

.amor-img-3{
    background-image: url(Site_Imagens/SemPontoFinal.png);
    background-size: auto;
    background-position: top;
}

.divertidas-img-1{
    background-image: url(Site_Imagens/SweetDreams.png);
}

.divertidas-img-2{
    background-image: url(Site_Imagens/Fofoca.png);
}

.divertidas-img-3{
    background-image: url(Site_Imagens/Comesemcafé.png);
}

.professores-img-1{
    background-image: url(Site_Imagens/TornouProfessor.png);
}

.professores-img-2{
    background-image: url(Site_Imagens/ProfessoraN10.png);
}

.professores-img-3{
    background-image: url(Site_Imagens/MelhorProfessor.png);
}

.f1-img-1{
    background-image: url(Site_Imagens/Verstappen_Laranja.png);
}

.f1-img-2{
    background-image: url(Site_Imagens/LewisRoxa.png);
}

.f1-img-3{
    background-image: url(Site_Imagens/Lewis_Preta.png);
}

.rodape {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 160px;

    text-align: center;

    padding: 30px;

    background-color: rgba(225, 121, 10, 1);
    
    height: 100px;
    width: 100%;
}
