*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header{
    background-image: url(Site_Imagens/Capa\ Google\ Sites.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

nav{
    text-align: end; 
    font-family: sans-serif;
    color: white;
    font-size: large;
    font-weight: 1000;

    inset-inline: 10px;
    padding: 10px;
    padding-left: 50%;

    position: absolute;
    top: 0;
    right: 0;

}

.nav-link{
    text-decoration: none;
    text-transform: none;
    color: white;
}

.head{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
    padding: 100px;
    border-bottom: solid 20px rgba(225, 121, 10, 1) ;
}


h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 150px;  
    -webkit-text-size-adjust: 100%;
    text-align: center;
    padding-top: 250px;
}


h2 {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;  
    -webkit-text-size-adjust: 100%;
    font-weight: lighter;
    padding: 50px;
    padding-top: 80px;
}

.descricao{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    align-content: space-around;
    padding-top: 20px;
}

.preco{
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
    align-content: space-around;
    padding: 10px;
}

.container-religiosas{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.container-religiosas img{
    height: 500px;
    width: 500px;
}

.container-motivacionais{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-motivacionais img{
    height: 500px;
    width: 500px;
}

.container-bichinhos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-bichinhos img{
    height: 500px;
    width: 500px;
}

.container-focinhos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-focinhos img{
    height: 500px;
    width: 500px;
}

.container-amizade{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-amizade img{
    height: 500px;
    width: 500px;
}

.container-amor{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-amor img{
    height: 500px;
    width: 500px;
}

.container-divertidas{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-divertidas img{
    height: 500px;
    width: 500px;
}

.container-professores{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-professores img{
    height: 500px;
    width: 500px;
}

.container-f1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.container-f1 img{
    height: 500px;
    width: 500px;
}

.rodape{

    margin-top: 70px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

    text-align: center;

    padding: 30px;

    background-color: rgba(225, 121, 10, 1);
    
    height: 100px;
  }