*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header{
    background-image: url(Site_Imagens/Capa\ Google\ Sites.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

nav{
    text-align: end; 
    font-family: sans-serif;
    color: white;
    font-size: large;
    font-weight: 1000;

    inset-inline: 10px;
    padding: 10px;
    padding-left: 50%;

    position: absolute;
    top: 0;
    right: 0;

}

.nav-link{
    text-decoration: none;
    text-transform: none;
    color: white;
    transition: all 0.2s;
}

.nav-link:hover {
    border-bottom: 2px solid rgba(225, 121, 10, 1);
}


.head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0,0, 0.5);
    padding: 100px;
    border-bottom: solid 20px rgba(225, 121, 10, 1) ;
}


h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 150px;  
    -webkit-text-size-adjust: 100%;
    text-align: center;
}


h2 {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;  
    -webkit-text-size-adjust: 100%;
    font-weight: lighter;
    padding: 50px;
    padding-top: 60px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: justify;
    color: black;
    padding: 15px;
}

.container{
    max-height: 600px;
    justify-content: center;
    padding: 60px;
    display: flex;
    padding-bottom: 10px;
}

.logoinsta img{
    display: flex;
    justify-items: end;
    width: 50px;
    height: 50px;
}

.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapa iframe {
    width: 400px;
    height: 400px;
}

.mapa p {
    font-size: 15px;
}

.caminho {
    padding: 30px;
}

.caminho p {
    font-size: 23px;
}

.caminho h3 {
    color: black;
    align-items: center;
    text-align:left;
    font-family: sans-serif;
    font-size: 30px;  
    -webkit-text-size-adjust: 100%;
    font-weight: bold;
    padding: 20px;
}

.rodape{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

    text-align: center;

    padding: 30px;

    background-color: rgba(225, 121, 10, 1);
    
    height: 100px;
  }