*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-image: url(Site_Imagens/Capa\ Google\ Sites.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    text-align: end; 
    font-family: sans-serif;
    color: white;
    font-size: large;
    font-weight: 1000;
    
    inset-inline: 10px;
    padding: 10px;
    padding-left: 50%;

    position: absolute;
    top: 0;
    right: 0;

}

.nav-link{
    text-decoration: none;
    text-transform: none;
    color: white;

    transition: all 0.2s;
}

.nav-link:hover {
    border-bottom: 2px solid rgba(225, 121, 10, 1);
}

.head{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
    padding: 100px;
}


h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 150px;  
    -webkit-text-size-adjust: 100%;
}


h2 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;  
    -webkit-text-size-adjust: 100%;
    font-weight: lighter;
}


.separacoes{
    background-color: rgba(225, 121, 10, 1);
    text-decoration: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 40px;  
    -webkit-text-size-adjust: 100%;
    padding: 30px;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
  }
  
  .slider img {
    max-width: 100%;
    max-height: 100%;
  }

  .link{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link a{
    
    text-align: center;
    color: black;
    background-color: rgba(225, 121, 10, 1);
    padding: 15px;

    margin-bottom: 50px;
    width: 600px;
    border-radius: 10px;

    font-family: sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: none;
  }

  .ft-caneca{
    width: 300px;
    height: 300px;
  }

  .lancamento {
    display: flex;
    flex-direction: column;
  }

  .lancamento h2 {
    color: black;
  }

  .lancamento-subtitle {
    margin-bottom: 40px;
  }

  .personalizadas{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    padding-top: 0px;
    font-family: sans-serif;
    font-size: 36px;
  }

.img-box {
    justify-content: center;
    align-items: baseline;
}

.img-box h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 98px;
   
}

.img-box img {
    width: 100%;
}

.pers-image{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
  }
  
  .personalizadas li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    box-shadow: -10px 10px 50px ;
	  border-radius: 20px;
  }

.loja-header {
  display: flex;
}

  .endereco{
    float: left;
    width: 40%;
    font-family: sans-serif;
    font-size: 35px;
    padding: 70px;
  }

  .endereco-titulo{
    padding: 30px;
    padding-left: 0px;
    padding-top: 0px;

    font-weight: 600;
  }

  .local{
    float: right;
    text-align: center;
    justify-content: center;

    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;

    padding: 50px;
  }

  .mapa{
    display: block;
  }

  .mapa iframe{
    width: 100%;
    height: 800px;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

  .rodape{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

    text-align: center;

    padding: 30px;

    background-color: rgba(225, 121, 10, 1);
    
    height: 100px;
  }

  @media (max-width: 800px) {
    .img-box h3 {
      font-size: 16px;
      min-height: 0;
    }

    .loja-header{
      flex-direction: column;  
    }
    .local p{
      font-size: 20px;
    }

    .endereco{
      font-size: 16px;
      width: 100%;
     
    }
  }
  