*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-image: url(Site_Imagens/Capa\ Google\ Sites.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

nav{
    text-align: end; 
    font-family: sans-serif;
    color: white;
    text-decoration: black;

    inset-inline: 10px;
    padding: 10px;
    padding-left: 50%;
    display: flex;
    justify-content: space-between;

    
    position: absolute;
    top: 0;
    right: 0;

}

.nav-link{
    text-decoration: none;
    text-transform: none;
    color: white;
}

.head{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
    padding: 100px;
}


h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 72px;  
    -webkit-text-size-adjust: 100%;
}


h2 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;  
    -webkit-text-size-adjust: 100%;
    font-weight: lighter;
}


h3{
    background-color: rgba(225, 121, 10, 1);
    text-decoration: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 40px;  
    -webkit-text-size-adjust: 100%;
    padding: 30px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 100%;
    padding: 30px;
  }
  
  .slider img {
    max-width: 100%;
    max-height: 100%;
  }